*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #555;
}
.buttons{
    display: inline-block;
    gap: 20px;
    width: 400px;
    height: 50px;

}